[color]
    ui = true
[commit]
    verbose = true
[core]
    editor = vim
    excludesfile = ~/dotfiles/git/.gitignore_global
[push]
    default = simple
[pull]
    rebase = true
[alias]
    puff = pull --ff-only
    # Show all my commits to the current branch from today (add --all for all branches)
    today = !git log --since=midnight --author=\"$(git config user.name)\"
    # Undo commit
    uc = reset --soft 'HEAD^'
    # Show all my commits to the current branch from yesterday (add --all for all branches)
    yesterday = !git log --since=yesterday.midnight --until=midnight --author=\"$(git config user.name)\"
[include]
    path = ~/.gitconfig_local
[credential]
    # Cache git credentials (e.g. GitHub username and password) for an hour
    helper = cache --timeout=3600
[diff]
    # The number of files to consider when performing the copy/rename detection
    renameLimit = 10000
