[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim"]
	path = vim
	url = https://github.com/adam-ja/vim-config
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
