[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "zsh_custom/themes/spaceship-prompt"]
	path = zsh_custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
	branch = master
	ignore = dirty
[submodule "zsh_custom/plugins/fzf-tab"]
	path = zsh_custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "/home/adam/dotfiles/zsh_custom/plugins/zsh-autosuggestions"]
	path = /home/adam/dotfiles/zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
