[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "zsh_custom/themes/spaceship-prompt"]
	path = zsh_custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
	branch = master
	ignore = dirty
[submodule "zsh_custom/plugins/fzf-tab"]
	path = zsh_custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_custom/plugins/spaceship-vi-mode"]
	path = zsh_custom/plugins/spaceship-vi-mode
	url = https://github.com/spaceship-prompt/spaceship-vi-mode.git
[submodule "zsh_custom/plugins/spaceship-react"]
	path = zsh_custom/plugins/spaceship-react
	url = https://github.com/spaceship-prompt/spaceship-react.git
